{
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
  },
  "plugins": [
    "lodash",
    "transform-flow-strip-types"
  ],
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-0"
  ]
}
